# NVIDIA NIM — Topic Research (5 agents)
NVIDIA_API_KEY=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

# OpenRouter #1 — Document Analysis (OCR + ALL document Q&A)
OPENROUTER_PDF_KEY=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

# OpenRouter #2 — Mind AI Chatbot
OPENROUTER_CHAT_KEY=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

# Search APIs (CrewAI Search Agent)
EXA_API_KEY=1418f3a1-d5ef-4f87-b812-03b5d30367ff
TAVILY_API_KEY=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

# SQLite DB path
DB_PATH=research_store.db
